@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Chilterns Conservation Board<br />
    The Lodge<br />
    90 Station Road<br />
    Chinnor OX39  4HA<br />
    <abbr title="Telephone">T:</abbr>
    01844 355500
</address>

<address>
    Helena Chance:
    <strong><abbr title="Telephone">T:</abbr></strong> 01494 522141 x4105<br />
    <strong>Email:</strong> <a href="mailto:Helena.chance@bucks.ac.uk">Helena.chance@bucks.ac.uk</a>
</address>
